<li [ngClass]="{'list-group-item' : true,
                'list-group-item-success' : postLoveIts > 0,
                'list-group-item-danger' : postLoveIts < 0 }">
  <h2>{{ postTitle }}</h2>
  <p style="color: grey; font-style: italic">{{ postDate | date:"short" }} </p>
  <p>{{ postContent }}</p>
  <button type="button" class="btn btn-success" (click)="increaseLoveIts()">Love it</button>
  <button type="button" class="btn btn-danger" (click)="decreaseLoveIts()" style="margin-left:5px">Don't love it</button>
  <p>Points : {{ postLoveIts }}</p>
</li>
